<!--
  Generated template for the ModalCatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <modal-catalog-header pageTitle="App Catalog"></modal-catalog-header>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Registry URL</ion-label>
        <ion-input type="url"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button  (click)="show()">Show</button>
  </ion-card>

  <ion-card *ngIf="ifShow">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let app of apps;index as i" col-3>
          <ion-card class="app-name" onmouseover="style.fontWeight='bold'" onmouseout="style.fontWeight='normal'"
                    (click)="addApp(i)" [style.border]="appClicked[i]? ' thick solid gray':''">
            <img src={{app.imgUrl}}>
            <span>{{app.name}}</span>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button class="done-button" (click)="submit()">Done</button>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
