page-modal-catalog {
  .app-name {
    width: 7vw;
    height: 7vw;
    text-align: center;
  }
  .app-name span{
    font-size: 0.9vw;
  }
  img {
    width: 7vw;
    height: 5vw;
    background-color: white;
  }
#error_text{
  color:red;

}
}
