<div id="smoke-screen" class="smoke-screen-modal-on" hide-on-click [hidden]="smokescreen" (click)="hideMe($event)"
     (onStatusChange)="hideMe($event)"></div>
<ion-row>
  <!--<ng-template ngFor let-app [ngForOf]="apps" let-i="index"  >-->
    <div *ngFor="let app of apps;index as i" (started)="onStart($event)" (stopped)="onStop($event,i)"  [ngStyle]="getStyle(i)" ngDraggable> <!--app.onTopStyle() test more-->
      <div class="app-icon" [ngStyle]="app.setBackground()" (click)="previewHandler(app)">
        <p>{{app.name}}</p>
      </div>
      <!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(app.url)"></iframe>-->
      <div class="app-previewer" [ngStyle]="app.previewStyle()">
        <div class="widget-bar">{{app.name}}
          <div class="widget-control">
            <button icon-only (click)="delete(app)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button icon-only (click)="app.previewToggle()">
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </div>
        </div>
        <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(app.url)" ></iframe> <!-- ngDraggable-->
        <!-- <object type="text/html" [data]="sanitizer.bypassSecurityTrustResourceUrl(app.url)" ngDraggable></object>-->

      </div>

    </div>
  <!--</ng-template>-->
</ion-row>
