page-home {
  .app-icon {
    width: 7vw;
    border: thick solid;
    border-color: map-get($colors, disabled);
    background-color: white;
    text-align: center;
  }
  .app-icon span{
    color: gray;
    font-weight: bold;
    font-size: 0.9vw;
  }

}
