<ion-navbar class="bar-positive">
  <ion-title>
    <img id="app-logo" src="assets/imgs/logo.png" alt="Company Logo">
    <font color="white"> ScaleIT Ionic Node.js Sample Application {{pageName}}</font>
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="person"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="information-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
